<!--可以滚动的容器-->
<!--<ion-content>-->
<!--不可以滚动的容器-->
<!--</ion-content>
<ion-pane>
</ion-pane>-->
<ion-content>
	<!--<ion-infinite-scroll>-->
	<div class="bar bar-header">
		<div class="h1 title">堆叠标签</div>
	</div>

	<div class="content has-header">
		<div class="list">
			<label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John">
        </label>
			<label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Suhr">
        </label>
			<label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="john@suhr.com">
        </label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive">Create Account</button>
		</div>
	</div>
	<!--</ion-infinite-scroll>-->
</ion-content>